# Required for Firebase Auth (register/login)
FIREBASE_WEB_API_KEY=

PORT=3001
FIREBASE_PROJECT_ID=qhiro-symbiotic
FIREBASE_SERVICE_ACCOUNT_PATH=./priv/qhiro-symbiotic-firebase-adminsdk-fbsvc-34e30ef7b6.json
MQTT_BROKER_URL=mqtt://localhost:1883
AI_BACKEND_URL=http://localhost:8000
CORS_ORIGIN=http://localhost:5173
